<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Veronica Yan</title>
    <link rel="stylesheet" type="text/css" href="css/myapp.css">
    <link rel="stylesheet" type="text/css" href="./bootstrap.min.css">
  </head>
  <body>
    <div id="header">
       <ul class="nav nav-pills">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#profile">Profile</a></li>
        <li><a href="#contact">Contact Me</a></li>
      </ul>
    </div>
    <br/>
    <div id="content">
      {{{body}}}
    </div>

    <script type="text/javascript" src="js/myapp.js"></script>
    <script src="./bootstrap.min.js"></script>
  </body>
</html>
